@import './styles/variables';
@import './styles/global';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#fullpage-wrapper {
  font-family: sans-serif;
}

.section {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  height: 100dvh !important;
}
